* {
  box-sizing: border-box;
}

header {
  background-color: #2f4f4f;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

a {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 70px;
  object-fit: contain;
}

nav ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul li a{
  color: white;
  text-decoration: none;
  align-items: center;
}

main {
  background-color: #407e79;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

main img {
  margin-bottom: 30px;
}

#family {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

#family img {
  width: 80%;
}

#locations {
  display: flex;
  margin-bottom: 30px;
  width: 50%;
}


/* Table styles */
table, td, th {
  border: 1px solid rgb(112, 159, 165);
}

table {
  margin: 1rem;
}

td, th {
  padding: 1rem;
}

th {
  font-weight: bold;
}

tfoot {
  background-color: rgba(112, 159, 165, .1);
}

/* Form styles */
form {
  display: flex;
  width: 90%;
  
}

fieldset{
  display: flex;
  flex-direction: column;
}